[submodule "Finance"]
	path = source/Finance
	url = https://github.com/shashankvemuri/Finance.git
[submodule "ChatGPT-Micro-Cap-Experiment"]
	path = source/ChatGPT-Micro-Cap-Experiment
	url = https://github.com/LuckyOne7777/ChatGPT-Micro-Cap-Experiment.git
[submodule "cluefin"]
	path = source/cluefin
	url = https://github.com/kgcrom/cluefin.git
[submodule "Kronos"]
	path = source/Kronos
	url = https://github.com/shiyu-coder/Kronos.git
[submodule "jocoding-bithumb"]
	path = source/jocoding-bithumb
	url = https://github.com/youtube-jocoding/python-bithumb.git
[submodule "source/jocoding-bithumb"]
	path = source/jocoding-bithumb
	url = https://github.com/youtube-jocoding/python-bithumb.git
